.select-container{
    display: flex;
    width: 100%;
    align-items: center;
    border: var(--primary-fading-color) 1px solid;
    padding: 8px; 
    background-color: var(--backgroundColor);
    border-radius: var(--border-radius-2);

}

.options-box{
    position: absolute;
    width: 100%;
    background-color: var(--backgroundColor);
    z-index: 1;
    border-radius: var(--border-radius-2);
}
.option-box__container{
    overflow-y: auto;
    max-height: 40vh;
    border: var(--primary-fading-color) 1px solid;
    border-radius: var(--border-radius-2);

}
.option{
    color: var(--primaryColor);
    padding: 6px 8px;
}
.option:hover,
.option:active{
    color: var(--backgroundColor);
    background-color: var(--primaryColor);
}