.button{
    text-align: center;
    color: var(--backgroundColor);
    background-color: var(--primaryColor);
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-2);
}
.button:not(.outline):hover{
    background-color: var(--primary100Color);
}
.button.disabled{
    opacity: 0.5;
}
.outline{
    color: var(--primaryColor);
    border: var(--primaryColor) 1px solid;
    background-color: transparent;
}
.button.outline:hover{
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
}
