.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;

}
.circle{
    width: 32px;
    aspect-ratio: 1;
    border: 1px solid var(---greyColor);
    cursor: pointer;
    border-radius: var(--border-radius-1);

}
.selected{
    border: 2px solid var(--primaryColor);
    padding: 1px;
    border-radius: var(--border-radius-1);

}
