.text{
    color: var(--primaryColor);
    border: solid 1px var(--primary-fading-color);
    padding: 0 8px;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
.text:hover,
.text:active,
.text.selected{
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
}
.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}