

/* CSS for changing text selection color */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000');

::selection {
  background-color: var(--primaryColor); /* Green color */
  color: #fff; /* Text color */
}

/* For older versions of Firefox */
::-moz-selection {
  background-color: var(--primaryColor);
  color: #fff;
}

*{
  margin: 0;
  padding: 0;
  /* user-select: none; */
  /* -webkit-user-select: none; */
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}
#root {

  width: 100%;
  min-height: 100%;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  min-height: 100vh;
}

.color-primary-fading{
  color: rgba(var(--primaryColor-rgb), 0.8);
}

.color-primary{
  color: var(--primaryColor);
}
.color-red{
  color: red;
}

.border-color-primary-fiding{
  border-color: rgba(var(--primaryColor-rgb), 0.8);
}

.p-relative{
  position: relative;
}

.input-container{
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}
.overflow-auto{
  overflow: auto;
}

.scale-on-hover{
  transition: scale 300ms ease-in;
  cursor: pointer;
}
.scale-on-hover:hover{
  scale: 1.05;
}
a{
  text-decoration: none;
  color: unset;
}
input{
  font-family: inherit;
}

.mb-2{
  margin-bottom: 8px;
}
.border{
  border:1px rgba(var(--primaryColor-rgb), 0.8) solid;
  border-radius: var(--border-radius-2);
}
.border-primary-v{
  border-top:1px var(--primaryColor) solid;
  border-bottom: 1px var(--primaryColor) solid
}
.border-top{
  border-top:1px rgba(var(--primaryColor-rgb), 0.8) solid;
}
.cut-text{
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  overflow: hidden; /* Ensures that the overflow text is hidden */
  text-overflow: ellipsis; /* Adds the ellipsis at the end of the text */
}

.input {
  display: block;
  position: relative;
  padding: 6px 8px;
  font-size: 16px;
  margin: 0;
  background-clip: padding-box;
  border: 1px solid rgba(var(--primaryColor-rgb), 0.8);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  overflow: hidden; /* Ensures that the overflow text is hidden */
  text-overflow: ellipsis; /* Adds the ellipsis at the end of the text */
  width: 100%;
  border-radius: var(--border-radius-2)
}

.input:focus {
  border-color: var(--primaryColor);
  outline: 0;
} 
input{
  background-color: var(--backgroundColor);
  color: var(--textColor);
}


.py-3{
  margin-top: 8px;
  margin-bottom: 8px;
}
@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.jiggle {
  animation: scale-animation 500ms infinite alternate;
}
@keyframes small-scale-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

.small-jiggle {
  animation: small-scale-animation 500ms infinite alternate;
}

[disabled]{
  pointer-events: none !important; /* Disable any pointer events (clicks, hovers, etc.) */
}
.lh-12{
  line-height: 1.2;
}
.lh-14{
  line-height: 1.4;
}

.error,
.error *{
  border-color: red !important;
  color: red !important;
}
.error:focus,
.error:focus {
  border-color: red;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.hode-scroll {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.hode-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.primary-dark-on-hover:hover{
  background-color: var(--primary100Color) !important;
}

